html {
    height: 100%;
    background: -moz-linear-gradient(to bottom,rgb(168, 244, 246),rgb(245, 99, 155) 10%,rgb(10, 51, 112)); 
    background: -webkit-linear-gradient(to bottom,rgb(168, 244, 246), rgb(245, 99, 155) 30%,rgb(10, 51, 112)); 
    background: linear-gradient(to bottom,rgb(168, 244, 246), rgb(245, 99, 155) 30%,rgb(10, 51, 112));
}
ul {
    list-style: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
body {
    margin: 0 10%;
}
.head-info {
    font-family: 'Bangers', cursive;
    font-size: 50px;
    text-align: center;
    width: 950px;
    margin: 0 auto;
    padding: 65px 0 0;
}
.wrapper {
    display: flex;
    position: relative;
}
.left-bar{
    width: 300px;
    float: left;
    height: 800px;
    padding: 10px 10px;
    margin: 50px;
    background: #f0f7ff;
    border: dashed 2px #5b8bd0;/*点線*/
}
.left-bar button {
    flex-direction: column;
    margin: 0; 
    padding: 0;
}
.side-task {
    text-align: center;
    font-size: 20px;
}

.side-task li{
    margin: 10px;
    border: solid 2px #5b8bd0;
}
.side-task li:hover {
    color: white;
    background-color: rgb(24, 0, 241);
}

iframe {
    border: solid 2px #5b8bd0;
}

.input-main {
    width: 50%;
    position: relative;
}

.input-task {
    padding: 5px;
    border: solid 2px #5b8bd0;
}
.input-task-main {
    padding: 5px;
    border: solid 2px #5b8bd0;
}

.input-limit {
    padding: 5px;
    border: solid 2px #5b8bd0;
}


.edit-main {
    width: 50%;
    position: relative;
}

.edit-task {
    padding: 5px;
    border: solid 2px #5b8bd0;
}

.edit-task:hover {
    background-color: orange;
}

.edit-task-main {
    padding: 5px;
    border: solid 2px #5b8bd0;
}

.edit-limit {
    padding: 5px;
    border: solid 2px #5b8bd0;
}

.del-btn:hover {
    background-color: orange;
}

.edit-btn {
    border: solid 2px #5b8bd0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
}

.add-btn {
    border: solid 2px #5b8bd0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
}

.main {
    display: flex;
    margin: 50px;
}

.open-options {
    position: absolute;
    right: 20px;
}

.task {
    animation: fadeIn 1s ease 0s 1 normal;
    font-size: 20px;
    width: 600px;
    height: 200px;
    border: solid 2px #5b8bd0;
    padding: 10px;
    margin: 5px;
    flex-direction: row;
    background-color: #ffffe7;
    background-image:
    linear-gradient(rgba(241,207,164,0.5) .1em, transparent .1em);
    background-size: 100% 1.5em;
    line-height:1.5em;
    position: relative;
}


@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
    
@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

.task-btn {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px;
}

.del-btn {
    font-size: 20px;
    border: solid 2px #5b8bd0;
    margin: 5px;
}

.edit-task {
    font-size: 20px;
    border: solid 2px #5b8bd0;
    margin: 5px;
}
.right-bar {
    float: right;
    margin: 20px;
}

