[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
mysql-connector-python-rf = "*"
flask-sslify = "*"

[requires]
python_version = "3.6"
