<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/ress.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/iziModal.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bangers">
    <title>Document</title>
</head>

<body>
    <header class="head-info">
        <h1 class="head-h1">What is today's ToDo?</h1>
    </header>

    <nav class="nav-info">
        <!-- 追加modal -->
        <div id="modal-options" data-izimodal-group="group1" data-izimodal-loop="" data-izimodal-title="タスクを追加">
            <div class="input-main">
                <input type="text" class="input-task" placeholder="タイトル">
                <textarea class="input-task-main" rows="4" cols="40" placeholder="タスクの内容"></textarea>
                <input type="datetime-local" class="input-limit">
                <button class="add-btn">追加</button>
            <!-- input-main --></div>
        <!-- modal-options --></div>
        
        <!-- 警告modal -->
        <div id="modal-alert" data-izimodal-title="無効な日付です" data-izimodal-subtitle="test" ></div>

        <!-- 更新modal -->
        <div id="modal-options2" data-izimodal-group="group2" data-izimodal-loop="" data-izimodal-title="タスクを更新">
            <div class="edit-main">
                <input type="text" class="edit-task">
                <textarea class="edit-task-main" rows="4" cols="40"></textarea>
                <input type="datetime-local" class="edit-limit">
                <button class="edit-btn">更新</button>
            <!-- edit-main --></div>
        <!-- modal-options2 --></div>

        <!-- 削除modal -->
        <div id="modal-del" data-izimodal-group="group3" data-izimodal-loop="" data-izimodal-title="タスクを削除しますか？">
            <div class="del-main">
                <button class="del-yes">はい</button>
                <button class="del-no">いいえ</button>
            </div>
        <!-- modal-del --></div>

        <div id="modal-check" data-izimodal-group="group4" data-izimodal-loop="" data-izimodal-title="今日のタスク">
                <p class="message"></p>
        <!-- modal-check --></div>
    <!-- nav-info --></nav>

    <div class="wrapper">
        <aside class="left-bar">
            <h2 class="left-info">期限フィルター</h2>
            <ul class="side-task">
                <li class="today-task">今日まで</li>
                <li class="week-task">1週間以内</li>
                <li class="month-task">今月以内</li>
                <li class="asc">期限(昇順)</li>
                <li class="desc">期限(降順)</li>
                <li class="insert-asc">入力日(昇順)</li>
                <li class="insert-desc">入力日(降順)</li>
            <!-- side-task --></ul>
            <iframe src="https://calendar.google.com/calendar/embed?src=92grc8209u04ntbhdsv38tlfuk%40group.calendar.google.com&ctz=Asia%2FTokyo" style="border: 2" width="270" height="400" frameborder="0" scrolling="no"></iframe>
        <!-- left-bar --></aside>
            
        <article class="main">
            <section class="main-board">
                <ul class="task-list"></ul>
            </section>
        <!-- main --></article>
            
        <aside class="right-bar">
            <button class="open-options button">
                <img src="static/images/plus3.png" alt="Icon-Plus">
            </button>
        </aside>
     <!-- wapper --></div>
    
    <footer class="foo-info"></footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>
    <script src="static/js/iziModal.min.js" type="text/javascript"></script>
    <script src="static/js/config.js"></script>
    <script src="static/js/task.js"></script>
</body>

</html>